coverage/
dist/
packages/cli/lib/
packages/core/lib/
*snapshot.js
packages/core/src/rules/__tests__/fixtures/invalid-yaml.yaml
resources/output/invalid.json
__tests__/webpack-bundle/bundle-workflows/metafile.json
