openapi: 3.1.0
servers:
  - url: http://example.xyz
security: []
info:
  license:
    name: test licence
    url: http://example.xyz
  title: Example OpenAPI 3 definition.
  description: Example description
  version: '1.0'
  contact:
    name: qa
    url: https://swagger.io/specification/#definitions
    email: email@redocly.com
tags:
  - name: test
    description: Description.
  - name: about
    description: Everything about your Pets
  - name: Without description
paths:
  /pet/findByStatus:
    put:
      operationId: exampleOne
      summary: My resource
      description: summary example
      externalDocs:
        description: 'Find more info here'
        url: 'https://redocly-example.com'
      requestBody:
        content:
          application/json:
            schema:
              type: 'object'
              properties:
                updated_at:
                  type: string
                name:
                  type: string
                  description: hooray
      responses:
        '404':
          description: summary example
        '201':
          description: summary example
          content:
            application/pdf:
              schema:
                type: 'object'
                properties:
                  created_at:
                    type: string
                  name:
                    type: string
                    description: hooray
    post:
      operationId: EXAMPLE
      summary: ''
      responses:
        '201':
          description: Test description
          content:
            application/pdf:
              schema:
                type: 'object'
                properties:
                  status:
                    type: boolean
        '404':
          description: application/json
          content:
            application/pdf:
              schema:
                type: string
              examples:
                credit-file-identity-address:
                  summary: Credit file with fallback
      x-code-samples:
        - lang: 'C#'
          source: |
            PetStore.v1.Pet pet = new PetStore.v1.Pet();
