openapi: 3.1.0
info:
  title: Example OpenAPI 3 definition. Valid.
  version: 1.0
servers:
  - url: https://redocly-example.com/user/{id}/place/{placeId}
    variables:
      id:
        enum: []
      placeId:
        enum: [b]
        default: a
  - url: https://redocly-example.com/{var}
    variables: {}

paths:
  '/ping':
    get:
      summary: example summary
      operationId: getPing
      responses:
        '200':
          description: example description
