name: Performance Benchmark

on:
  pull_request:
    branches:
      - main

env:
  CI: true
  REDOCLY_TELEMETRY: off

jobs:
  latest-vs-next:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 22
          cache: 'npm'
      - name: Install Dependencies
        run: npm ci
      - name: Install External
        run: npm i -g hyperfine @redocly/cli@latest
      - name: Prepare
        run: |
          jq '.bin = {"redocly-next":"bin/cli.js"} | .name = "@redocly/cli-next"' packages/cli/package.json > __tmp__.json
          mv __tmp__.json packages/cli/package.json
          cat packages/cli/package.json
          npm run pack:prepare
          npm i -g redocly-cli.tgz
      - run: redocly-next --version
      - run: redocly --version
      - name: Run Benchmark
        run: hyperfine -i --warmup 3 'redocly lint resources/rebilly.yaml' 'redocly-next lint resources/rebilly.yaml' --export-markdown benchmark_check.md --export-json benchmark_check.json

      - name: Comment PR
        if: ${{ github.event.pull_request.head.repo.full_name == github.repository }}
        uses: thollander/actions-comment-pull-request@v2
        with:
          filePath: benchmark_check.md
          comment_tag: latest-vs-next-comparison

  historical-versions:
    # Run only on release branch (changeset-release/main):
    if: github.head_ref == 'changeset-release/main'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 22
          cache: 'npm'
      - name: Install Dependencies
        run: npm ci
      - name: Install External
        run: npm i -g hyperfine
      - name: Prepare
        run: |
          npm run compile
          npm run pack:prepare
          cd tests/performance/
          npm i
          npm run make-test
      - name: Run Benchmark
        run: |
          cd tests/performance/
          npm test # This command is generated and injected into package.json in the previous step.
          cat benchmark_check.md
          npm run chart # Creates benchmark_chart.md with the performance bar chart.

      - name: Comment PR
        if: ${{ github.event.pull_request.head.repo.full_name == github.repository }}
        uses: thollander/actions-comment-pull-request@v2
        with:
          filePath: tests/performance/benchmark_chart.md
          comment_tag: historical-versions-comparison
