name: Require Either a Changeset or a Label 'No Changeset Needed'
on:
  pull_request:
    types: [opened, synchronize, reopened, labeled, unlabeled]
    branches-ignore:
      - chore/fix-reuqire-changeset # changeset-release/main

jobs:
  require-changeset-or-label:
    if: ${{ !contains(github.event.pull_request.labels.*.name, 'No Changeset Needed') }}
    runs-on: ubuntu-latest
    env:
      CI: true
    steps:
      - uses: actions/checkout@v3
        with:
          # check out full history
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'npm'
      - run: npm ci
      - name: Check for changeset
        run: npx changeset status --since origin/main
