name: Require Either a Changeset or a Label 'No Changeset Needed'
on:
  pull_request:
    types: [opened, synchronize, reopened, labeled, unlabeled]

jobs:
  require-changeset-or-label:
    if: ${{ github.event.label.name != 'No Changeset Needed' }}
    runs-on: ubuntu-latest
    env:
      CI: true
    steps:
      - uses: actions/checkout@v3
        with:
          # check out full history
          fetch-depth: 0
      - uses: actions/setup-node@v3
        with:
          node-version: 20
          cache: 'npm'
      - run: npm ci
      - name: Check for changeset
        run: npx changeset status --since origin/main --verbose
