name: Smoke tests

on:
  push:
    branches:
    - chore/smoke-tests

env:
  CI: true
  REDOCLY_TELEMETRY: off

jobs:
  prepare-smoke:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 18
          cache: 'npm'
      - name: Install dependencies
        run: npm ci

      - name: Prepare Smoke
        run: bash ./scripts/prepare-smoke.sh

      - uses: actions/cache@v3
        with:
          path: __tests__/smoke/
          key: cache-${{ github.run_id }}-${{ github.run_attempt }}

  run-smoke--npm--node-18:
    needs: prepare-smoke
    runs-on: ubuntu-latest
    steps:
      - uses: actions/cache@v3
        with:
          path: __tests__/smoke/
          key: cache-${{ github.run_id }}-${{ github.run_attempt }}

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - run: bash ./__tests__/smoke/run-smoke.sh "npm i redocly-cli.tgz" "npm run"

  run-smoke--npm--node-18--redoc:
    needs: prepare-smoke
    runs-on: ubuntu-latest
    steps:
      - uses: actions/cache@v3
        with:
          path: __tests__/smoke/
          key: cache-${{ github.run_id }}-${{ github.run_attempt }}

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      - run: bash ./__tests__/smoke/run-smoke.sh "npm i redoc redocly-cli.tgz" "npm run"


  run-smoke--npm--node-16:
    needs: prepare-smoke
    runs-on: ubuntu-latest
    steps:
      - uses: actions/cache@v3
        with:
          path: __tests__/smoke/
          key: cache-${{ github.run_id }}-${{ github.run_attempt }}

      - uses: actions/setup-node@v3
        with:
          node-version: 16

      - run: bash ./__tests__/smoke/run-smoke.sh "npm i redocly-cli.tgz" "npm run"

  run-smoke--npm--node-16--redoc:
    needs: prepare-smoke
    runs-on: ubuntu-latest
    steps:
      - uses: actions/cache@v3
        with:
          path: __tests__/smoke/
          key: cache-${{ github.run_id }}-${{ github.run_attempt }}

      - uses: actions/setup-node@v3
        with:
          node-version: 16

      - run: bash ./__tests__/smoke/run-smoke.sh "npm i redoc redocly-cli.tgz" "npm run"

  run-smoke--npm--node-14:
    needs: prepare-smoke
    runs-on: ubuntu-latest
    steps:
      - uses: actions/cache@v3
        with:
          path: __tests__/smoke/
          key: cache-${{ github.run_id }}-${{ github.run_attempt }}

      - uses: actions/setup-node@v3
        with:
          node-version: 14
          
      - run: bash ./__tests__/smoke/run-smoke.sh "npm i redocly-cli.tgz" "npm run"


  run-smoke--npm--node-14--redoc:
    needs: prepare-smoke
    runs-on: ubuntu-latest
    steps:
      - uses: actions/cache@v3
        with:
          path: __tests__/smoke/
          key: cache-${{ github.run_id }}-${{ github.run_attempt }}

      - uses: actions/setup-node@v3
        with:
          node-version: 14

      - run: bash ./__tests__/smoke/run-smoke.sh "npm i redoc redocly-cli.tgz" "npm run"

  run-smoke--npm--node-12:
    needs: prepare-smoke
    runs-on: ubuntu-latest
    steps:
      - uses: actions/cache@v3
        with:
          path: __tests__/smoke/
          key: cache-${{ github.run_id }}-${{ github.run_attempt }}

      - uses: actions/setup-node@v3
        with:
          node-version: 12

      - run: bash ./__tests__/smoke/run-smoke.sh "npm i redocly-cli.tgz" "npm run"

  run-smoke--npm--node-12--redoc:
    needs: prepare-smoke
    runs-on: ubuntu-latest
    steps:
      - uses: actions/cache@v3
        with:
          path: __tests__/smoke/
          key: cache-${{ github.run_id }}-${{ github.run_attempt }}

      - uses: actions/setup-node@v3
        with:
          node-version: 12

      - run: bash ./__tests__/smoke/run-smoke.sh "npm i redoc redocly-cli.tgz" "npm run"

  run-smoke--yarn--node-18:
    needs: prepare-smoke
    runs-on: ubuntu-latest
    steps:
      - uses: actions/cache@v3
        with:
          path: __tests__/smoke/
          key: cache-${{ github.run_id }}-${{ github.run_attempt }}

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      # - name: Install Yarn # Not needed, already installed with setup-node?
      #   run: npm i -g yarn@^1.22.19
    

      - run: bash ./__tests__/smoke/run-smoke.sh "yarn add ./redocly-cli-clean.tgz" "yarn" # FIXME:
      

  run-smoke--yarn--node-18--redoc:
    needs: prepare-smoke
    runs-on: ubuntu-latest
    steps:
      - uses: actions/cache@v3
        with:
          path: __tests__/smoke/
          key: cache-${{ github.run_id }}-${{ github.run_attempt }}

      - uses: actions/setup-node@v3
        with:
          node-version: 18

      # - name: Install Yarn # Not needed, already installed with setup-node?
      #   run: npm i -g yarn@^1.22.19

      - run: bash ./__tests__/smoke/run-smoke.sh "yarn add redoc ./redocly-cli-clean.tgz" "yarn" # FIXME:


  run-smoke--webpack--node-14:
    needs: prepare-smoke
    runs-on: ubuntu-latest
    steps:
      - uses: actions/cache@v3
        with:
          path: __tests__/smoke/
          key: cache-${{ github.run_id }}-${{ github.run_attempt }}

      - uses: actions/setup-node@v3
        with:
          node-version: 14

      - run: | 
          cd __tests__/smoke/
          node bundle.js --version
          node bundle.js lint openapi.yaml --extends minimal
          node bundle.js bundle openapi.yaml
