name: Smoke tests

on:
  pull_request:
    types: [opened, synchronize, reopened]

env:
  CI: true
  REDOCLY_TELEMETRY: off

jobs:
  prepare-smoke:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: actions/setup-node@v3
        with:
          node-version: 22
          cache: 'npm'
      - name: Install dependencies
        run: npm ci
      - name: Prepare Smoke
        run: bash ./__tests__/smoke/prepare-smoke.sh
      - uses: actions/cache@v3
        with:
          path: __tests__/smoke/
          key: cache-${{ github.run_id }}-${{ github.run_attempt }}

  run-smoke--npm--node-22:
    needs: prepare-smoke
    runs-on: ubuntu-latest
    steps:
      - uses: actions/cache@v3
        with:
          path: __tests__/smoke/
          key: cache-${{ github.run_id }}-${{ github.run_attempt }}
      - uses: actions/setup-node@v3
        with:
          node-version: 22
      - run: bash ./__tests__/smoke/run-smoke.sh "npm i redocly-cli.tgz" "npm run"

  run-smoke--npm--node-22--redoc:
    needs: prepare-smoke
    runs-on: ubuntu-latest
    steps:
      - uses: actions/cache@v3
        with:
          path: __tests__/smoke/
          key: cache-${{ github.run_id }}-${{ github.run_attempt }}
      - uses: actions/setup-node@v3
        with:
          node-version: 22
      - run: bash ./__tests__/smoke/run-smoke.sh "npm i redoc redocly-cli.tgz" "npm run"

  run-smoke--npm--node-20:
    needs: prepare-smoke
    runs-on: ubuntu-latest
    steps:
      - uses: actions/cache@v3
        with:
          path: __tests__/smoke/
          key: cache-${{ github.run_id }}-${{ github.run_attempt }}
      - uses: actions/setup-node@v3
        with:
          node-version: 20
      - run: bash ./__tests__/smoke/run-smoke.sh "npm i redocly-cli.tgz" "npm run"

  run-smoke--npm--node-20--redoc:
    needs: prepare-smoke
    runs-on: ubuntu-latest
    steps:
      - uses: actions/cache@v3
        with:
          path: __tests__/smoke/
          key: cache-${{ github.run_id }}-${{ github.run_attempt }}
      - uses: actions/setup-node@v3
        with:
          node-version: 20
      - run: bash ./__tests__/smoke/run-smoke.sh "npm i redoc redocly-cli.tgz" "npm run"

  run-smoke--yarn--node-22:
    needs: prepare-smoke
    runs-on: ubuntu-latest
    steps:
      - uses: actions/cache@v3
        with:
          path: __tests__/smoke/
          key: cache-${{ github.run_id }}-${{ github.run_attempt }}
      - uses: actions/setup-node@v3
        with:
          node-version: 22
      - name: Clear Yarn Cache
        run: yarn cache clean
      - run: |
          for i in {1..3}; do
            bash ./__tests__/smoke/run-smoke.sh "yarn add ./redocly-cli.tgz" "yarn" && break || sleep 5
          done

  run-smoke--yarn--node-22--redoc:
    needs: prepare-smoke
    runs-on: ubuntu-latest
    steps:
      - uses: actions/cache@v3
        with:
          path: __tests__/smoke/
          key: cache-${{ github.run_id }}-${{ github.run_attempt }}
      - uses: actions/setup-node@v3
        with:
          node-version: 22
      - name: Clear Yarn Cache
        run: yarn cache clean
      - run: |
          for i in {1..3}; do
            bash ./__tests__/smoke/run-smoke.sh "yarn add redoc ./redocly-cli.tgz" "yarn" && break || sleep 5
          done

  run-smoke--yarn--node-20:
    needs: prepare-smoke
    runs-on: ubuntu-latest
    steps:
      - uses: actions/cache@v3
        with:
          path: __tests__/smoke/
          key: cache-${{ github.run_id }}-${{ github.run_attempt }}
      - uses: actions/setup-node@v3
        with:
          node-version: 20
      - name: Clear Yarn Cache
        run: yarn cache clean
      - run: |
          for i in {1..3}; do
            bash ./__tests__/smoke/run-smoke.sh "yarn add ./redocly-cli.tgz" "yarn" && break || sleep 5
          done

  run-smoke--yarn--node-20--redoc:
    needs: prepare-smoke
    runs-on: ubuntu-latest
    steps:
      - uses: actions/cache@v3
        with:
          path: __tests__/smoke/
          key: cache-${{ github.run_id }}-${{ github.run_attempt }}
      - uses: actions/setup-node@v3
        with:
          node-version: 20
      - name: Clear Yarn Cache
        run: yarn cache clean
      - run: |
          for i in {1..3}; do
            bash ./__tests__/smoke/run-smoke.sh "yarn add redoc ./redocly-cli.tgz" "yarn" && break || sleep 5
          done

  run-smoke--pnpm--node-22:
    needs: prepare-smoke
    runs-on: ubuntu-latest
    steps:
      - uses: actions/cache@v3
        with:
          path: __tests__/smoke/
          key: cache-${{ github.run_id }}-${{ github.run_attempt }}
      - uses: actions/setup-node@v3
        with:
          node-version: 22
      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10
      - run: bash ./__tests__/smoke/run-smoke.sh "pnpm add ./redocly-cli.tgz" "pnpm run"

  run-smoke--npm--node-22--windows:
    needs: prepare-smoke
    runs-on: windows-latest
    steps:
      - uses: actions/cache@v3
        with:
          path: __tests__/smoke/
          key: cache-${{ github.run_id }}-${{ github.run_attempt }}
          enableCrossOsArchive: true
      - uses: actions/setup-node@v3
        with:
          node-version: 22
      - run: bash ./__tests__/smoke/run-smoke.sh "npm i redocly-cli.tgz" "npm run"

  run-smoke--yarn--node-22--windows:
    needs: prepare-smoke
    runs-on: windows-latest
    steps:
      - uses: actions/cache@v3
        with:
          path: __tests__/smoke/
          key: cache-${{ github.run_id }}-${{ github.run_attempt }}
          enableCrossOsArchive: true
      - uses: actions/setup-node@v3
        with:
          node-version: 22
      - name: Clear Yarn Cache
        run: yarn cache clean
      - run: |
          for ($i = 1; $i -le 3; $i++) {
            if (bash ./__tests__/smoke/run-smoke.sh "yarn add ./redocly-cli.tgz" "yarn") {
              break
            }
            Start-Sleep -Seconds 5
          }

  run-smoke--npm--node-20--windows:
    needs: prepare-smoke
    runs-on: windows-latest
    steps:
      - uses: actions/cache@v3
        with:
          path: __tests__/smoke/
          key: cache-${{ github.run_id }}-${{ github.run_attempt }}
          enableCrossOsArchive: true
      - uses: actions/setup-node@v3
        with:
          node-version: 20
      - run: bash ./__tests__/smoke/run-smoke.sh "npm i redocly-cli.tgz" "npm run"

  run-smoke--yarn--node-20--windows:
    needs: prepare-smoke
    runs-on: windows-latest
    steps:
      - uses: actions/cache@v3
        with:
          path: __tests__/smoke/
          key: cache-${{ github.run_id }}-${{ github.run_attempt }}
          enableCrossOsArchive: true
      - uses: actions/setup-node@v3
        with:
          node-version: 20
      - name: Clear Yarn Cache
        run: yarn cache clean
      - run: |
          for ($i = 1; $i -le 3; $i++) {
            if (bash ./__tests__/smoke/run-smoke.sh "yarn add ./redocly-cli.tgz" "yarn") {
              break
            }
            Start-Sleep -Seconds 5
          }

  run-smoke--docker-image:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Build docker image
        run: docker build -t redocly/cli:latest .
      - name: Run docker image
        run: |
          # Prepare
          cp resources/pets.yaml resources/museum.yaml resources/museum-tickets.arazzo.yaml __tests__/smoke/
          cd __tests__/smoke/

          # Run commands
          docker run --rm redocly/cli:latest --version
          docker run --rm -v $PWD:/spec redocly/cli:latest lint openapi.yaml
          docker run --rm -v $PWD:/spec redocly/cli:latest bundle openapi.yaml --ext json
          docker run --rm -v $PWD:/spec redocly/cli:latest build-docs openapi.yaml
          docker run --rm -v $PWD:/spec redocly/cli:latest split pets.yaml --outDir output/split/petstore && docker run --rm -v $PWD:/spec redocly/cli:latest split museum.yaml --outDir output/split/museum
          docker run --rm -v $PWD:/spec redocly/cli:latest respect museum-tickets.arazzo.yaml

          # Check for broken styles when building docs (related issue: https://github.com/Redocly/redocly-cli/issues/1073)
          echo "Checking docs for issues..."
          diff pre-built/redoc.html redoc-static.html -u
          echo "✅ Docs built correctly."

          # Check for broken $refs (or other issues) in the split files, especially on Windows (it will fail on a difference)
          echo "Checking split files for issues..."
          diff -r pre-split output/split -u
          echo "✅ Files split correctly."
