name: Build and Test

on:
  pull_request:
    types: [opened, synchronize, reopened]
  push:
    branches:
      - master

jobs:
  build-and-unit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Cache dependencies
        uses: actions/cache@v3
        with:
          path: ~/.npm
          key: npm-${{ hashFiles('package-lock.json') }}
          restore-keys: |
            npm-${{ hashFiles('package-lock.json') }}
            npm-
      - name: Environments
        run: |
          echo
          echo Using Node $(node -v), NPM $(npm -v)
          echo
      - name: Install dependencies
        run: npm ci
        env:
          CI: true
      - name: Typecheck
        run: npm run typecheck
      - name: Unit Tests
        run: npm run jest -- --silent --ci --json --testLocationInResults --outputFile=report.json --bail --coverage
      - name: Coverage Report
        uses: artiomtr/jest-coverage-report-action@v2.0-rc.4
        with:
          skip-step: none
          coverage-file: report.json
          annotations: none
          test-script: npm run jest -- --silent --ci --json --testLocationInResults --outputFile=report-base.json --bail --coverage
      - name: E2E Tests
        run: npm run e2e
        env:
          CI: true
